*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif; /* По умолчанию Regular */
	background-color: #FFFFFF;
	color: #434455
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
address {
	font-style: normal;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
.container { 
	max-width: 1440px;
	padding-left: 0; 
	padding-right: 0; 
	margin-left: 0; 
	margin-right: 0; 
	}
/* button {
	cursor: pointer;
} */
/*---Header шапка сайту--*/
/* .header {
}
.header-navigation {
} */
.header-navigation-logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color:#4D5AE5;
}

.accent {
	color:#2E2F42;
}

.header-navigation-link {
	font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#2E2F42;
}

.header-navigation-link:hover,
.header-navigation-link:focus {
	color: #404BBF;
}


.address-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455;
}
.address-link:hover,
.address-link:focus {
	color: #404BBF;
}
.text {
	
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455;
}
/*---Header шапка сайту--*/
/*----section 1 _Hero-------*/
/* .hero {
} */
 .hero {
	background-color:#2E2F42;
 }
.hero-title {
	font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color:#FFFFFF;

}
.hero-btn {
	font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color:#FFFFFF;
background-color:#4D5AE5;
cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
	background-color: #404BBF;
}
/*----section 1 _Hero-------*/

/*-----section 2 _Skils-----*/

.skils-title {
	font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:#2E2F42;
}
/*-----section 2 _Skils-----*/

/*-----Section 3 _Our Team-----*/
.ourteam {
	background-color:#F4F4FD;
}
.ourteam-item-card {
	background-color:#FFFFFF
}
.title-grand {
	font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color:#2E2F42;
}
.title-midi {
	font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color:#2E2F42
}
.ourteam-title {
	font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color:#2E2F42
}
/*-----Section 3 _Our Team-----*/
/*-----section 4 _Our Portfolio-----*/
.ourportfolio .title-grand {
	text-transform: capitalize;

} 
/*-----section 4 _Our Portfolio-----*/
/*-----section 5 _Footer-----*/
.footer {
	background-color:#2E2F42
}
.footer-navigation-logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
	color:#4D5AE5
}
.footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#F4F4FD
}
.footer-accent {
	font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color:#F4F4FD
}
